.description-product {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.description-product > .title {
  font-size: 25px;
}

.description-product .star {
  display: flex;
  flex-direction: row;
  margin: 50px 0 25px;
}

.description-product .star > .star-item {
  padding-right: 10px;
}

.description-product > .item {
  font-size: 20px;
  margin-bottom: 28px;
}

.description-product > .item.-info {
  width: 200px;
  text-align: right;
}

.description-product > .item.-info.-last {
  margin-bottom: 72px;
}

.description-product .contrast {
  text-transform: uppercase;
  float: left;
}

.description-product > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.description-product .action {
  color: inherit;
  text-decoration: none;
}
